@model DatabaseManager.WebUI.Models.EditViewModel

@{
    ViewBag.Title = "Edit " ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-heading" style="text-align: center;">
        <h2>Edit </h2>
    </div>
    
    @using (Html.BeginForm("EditTest", "Database", FormMethod.Post, new { onsubmit = "verifyDates();" }))
    {
        <div class="panel-body form-total">
            <h3 style="margin-left: 5%;">Default Fields</h3>
            <hr />
            <div style="clear: both;"></div>
            <h3 style="margin-left: 5%;">Custom Fields</h3>
            <hr />
            @Html.HiddenFor(m => m.LawsonDatabaseID)
            @Html.TextBoxFor(m => m.Name)
            @{int i = 0;}
            @foreach (var kvp in Model.AdditionalFields)
            {
                <div class="block-form-inline">
                    @Html.Label(kvp.Key)
                    @Html.TextBoxFor(m => m.AdditionalFields[kvp.Key])
                </div>
                i++;
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Save " class="btn btn-primary" />
            @Html.ActionLink("Add Column", "AddColumn", new { Model.LawsonDatabaseID }, new { @class = "btn btn-default" })
            @Html.ActionLink("Cancel and return to List", "List", null, new { @class = "btn btn-default" })
        </div>

    }
    <script type="text/javascript">
        function verifyDates() {
            var dateElems = document.getElementsByClassName("date-item");
            for (var x = 0; x < dateElems.length; x++) {
                if (!isValidDate(dateElems[x].value)) dateElems[x].value = "";
            }
        }

        function isValidDate(str) {
            var t = str.match(/^(\d{2})\/(\d{2})\/(\d{4})$/);
            if (str === "") return true;
            if (t !== null) {
                var d = +t[1], m = +t[2], y = +t[3];
                var date = new Date(y, m - 1, d);
                if (date.getFullYear() === y && date.getMonth() === m - 1) {
                    return true;
                }
            }
            return false;
        }
    </script>
</div>
