@using DatabaseManager.Domain.Entities;
@using System;

@model IEnumerable<LawsonDatabase>

@{
    ViewBag.Title = "Databases";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Databases</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed">
            <tr>
                <th>Lawson Number</th>
                <th>Database Nickname</th>
                <th>Contact</th>
                <th>REB Expiry</th>
                <th>Principal Investigator</th>
                <th style="left: 25px; position: relative;">Action</th>
            </tr>
            @foreach (var d in Model)
            {   
                <tr>
                    <td>@d.LawsonNumber</td>
                    <td>@Html.ActionLink(d.Nickname ?? "New Database", "Edit", new { d.LawsonDatabaseID })</td>
                    <td>@d.InvoiceContact</td>
                    <td>@(d.REBExpiry != null ? d.REBExpiry.Value.ToString("yyyy/MM/dd") : "")</td>
                    <td>@d.PIName</td>
                    <td>
                        <div style="display: inline-block; float: left; width: 45%;">
                            @using (Html.BeginForm("Delete", "Database"))
                            {
                                @Html.Hidden("LawsonDatabaseID", d.LawsonDatabaseID)
                                <input type="submit" class="btn btn-block btn-sm btn-default" value="Delete" /> 
                            }
                        </div>
                        <div style="display: inline-block; float: left; width: 45%; margin-left: 10%">
                            @Html.ActionLink("Add Column", "AddColumn", new { d.LawsonDatabaseID }, new { @class = "btn btn-block btn-sm btn-default" })
                        </div>
                    </td>
                </tr>    
            }
        </table>
        <div class="panel-footer">
            @Html.ActionLink("New Database", "Create", "Database", new { @class = "btn btn-default" })
            <div class="btn btn-default">Set up email notifications</div>
            <div class="btn btn-default">Export</div>
            <div class="btn btn-default">Set up financial reporting</div>
        </div>
    </div>
</div>
