@using DatabaseManager.Domain.Entities;
@using System;

@model IEnumerable<LawsonDatabase>

@{
    ViewBag.Title = "Databases";
}

@section AddToHead
    {
    <link rel="stylesheet" href="@Url.Content("//cdn.datatables.net/1.10.2/css/jquery.dataTables.css")" />
    <script src="@Url.Content("//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js")"></script>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#databaselist').dataTable({
            "order": [[2, "asc"]]
        });
    });
</script>
@if (ViewBag.REBExpiredAlert)
{
    <div class="alert alert-danger">
        <h5>The following databases have expired REB's</h5>
        <ul>
            @foreach (LawsonDatabase db in ViewBag.ExpiredDbs)
            {
                <li>@db.Nickname</li>
            }
        </ul>
    </div>
}
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-striped table-condensed" id="databaselist">
            <thead>
                <tr>
                    <th>Status on Server</th>
                    <th>Database Status</th>
                    <th>Nickname</th>
                    <th>Invoice Contact</th>
                    <th>REB Expiry</th>
                    <th>Principal Investigator</th>
                    <th style="text-align: center;">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var d in Model)
                {
                    <tr>
                        <td>@d.OnServerStatus</td>
                        <td>@d.DatabaseStatus</td>
                        <td>@Html.ActionLink(d.Nickname ?? "New Database", "Edit", new { d.LawsonDatabaseID })</td>
                        <td>@d.InvoiceContact</td>
                        <td>
                            <div>
                                @(d.REBExpiry != null ? d.REBExpiry.Value.ToString("yyyy/MM/dd") : "")
                                <span class="@ViewBag.REBExpiry[d.LawsonDatabaseID]"></span>
                            </div>
                        </td>
                        <td>@d.PIName</td>
                        <td>
                            <div style="display: inline-block; float: left; width: 45%;">
                                @using (Html.BeginForm("Delete", "Database"))
                                {
                                    @Html.Hidden("LawsonDatabaseID", d.LawsonDatabaseID)
                                    <input type="submit" class="btn btn-block btn-xs btn-default" value="Delete" />
                                }
                            </div>
                            <div style="display: inline-block; float: left; width: 50%; margin-left: 5%">
                                @Html.ActionLink("Add Field", "AddColumn", new { d.LawsonDatabaseID }, new { @class = "btn btn-block btn-xs btn-default" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="panel-footer" style="margin-top: 3px;">
            @Html.ActionLink("New Database", "Create", new { controller = "Database" }, new { @class = "btn btn-default" })
            @Html.ActionLink("Export this List", "Export", new { controller = "Database" }, new { @class = "btn btn-default" })
            @Html.ActionLink("Financial Reports", "Index", new { controller = "Finance" }, new { @class = "btn btn-default" })

        </div>
    </div>
</div>

