@model DatabaseManager.WebUI.Models.EditFinanceViewModel
@{
    ViewBag.Title = Model.DatabaseName + " Finances";
}

<div class="panel">
    <div class="panel-heading" style="text-align: center;">
        <h2>Database: @(Model.DatabaseName)</h2>
    </div>
    @using (Html.BeginForm("SaveFinance", "Finance"))
        {
    <div class="panel-body">
        
        <div class="col-md-6 col-md-offset-3 form-horizontal" role="form">
            <div class="form-group">
                @Html.LabelFor(m => m.NewInvoice.DbSize, "Database Size", new { @class = "control-label col-md-4" })
                <div class=" col-md-6">
                    @Html.TextBoxFor(m => m.NewInvoice.DbSize, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewInvoice.LogSize, "Log Size", new { @class = "control-label col-md-4" })
                <div class=" col-md-6">
                    @Html.TextBoxFor(m => m.NewInvoice.LogSize, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewInvoice.WebSize, "Web Size", new { @class = "control-label col-md-4" })
                <div class=" col-md-6">
                    @Html.TextBoxFor(m => m.NewInvoice.WebSize, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewInvoice.TotalSpaceUsage, "Total Space Usage", new { @class = "control-label col-md-4" })
                <div class=" col-md-6">
                    @Html.TextBoxFor(m => m.NewInvoice.TotalSpaceUsage, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewInvoice.MonthlyRate, "Monthly Rate", new { @class = "control-label col-md-4" })
                <div class=" col-md-6">
                    @Html.TextBoxFor(m => m.NewInvoice.MonthlyRate, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewInvoice.PeriodStart, "Period Start", new { @class = "control-label col-md-4" })
                <div class="input-group date col-md-6">
                    @Html.TextBoxFor(m => m.NewInvoice.PeriodStart, new { @class = "form-control date-item" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewInvoice.PeriodEnd, "Period End", new { @class = "control-label col-md-4" })
                <div class="input-group date col-md-6">
                    @Html.TextBoxFor(m => m.NewInvoice.PeriodEnd, new { @class = "form-control date-item" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewInvoice.AmountDue, "Amount Due", new { @class = "control-label col-md-4" })
                <div class=" col-md-6">
                    @Html.TextBoxFor(m => m.NewInvoice.AmountDue, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewInvoice.Paid, "Paid", new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <select class="form-control" id="NewInvoice_Paid" name="NewInvoice.Paid">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewInvoice.DatePaid, "Date Paid", new { @class = "control-label col-md-4" })
                <div class="input-group date col-md-6">
                    @Html.TextBoxFor(m => m.NewInvoice.DatePaid, new { @class = "form-control date-item" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewInvoice.Notes, "Notes", new { @class = "control-label col-md-4" })
                <div class=" col-md-6">
                    @Html.TextAreaFor(m => m.NewInvoice.Notes, new { @class = "form-control" })
                </div>
            </div>
        </div>
        
    </div>
    <div class="panel-footer center">
        @Html.Hidden("Id", Model.NewInvoice.Id)
        <input type="submit" class="btn btn-default" value="Save" />
            <button type="button" class="btn btn-default" onclick="subDelete();" >Delete</button>
            @Html.ActionLink("Cancel and Return to List", "ListFinances", new { controller = "Finance" }, new { @class = "btn btn-default" })
 
    </div>
        <div style="visibility: hidden;">
            @using (Html.BeginForm("Delete", "Finance", FormMethod.Post, new { id = "deletebutton" }))
            {
            <input type="submit" class="btn btn-default" value="Delete"/>
            }
            <script>
                function subDelete() {
                    $("#deletebutton").submit();
                }
            </script>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".input-group.date").each(function () {
            var betterDate = ($(this)).find("input").val().split(' ')[0];
            ($(this)).find("input").val(betterDate);
            $(".input-group.date").datetimepicker({
                format: 'YYYY/MM/DD',
                pickDate: true,
                pickTime: false,
                pick12HourFormat: false
            });
        });
    });
</script>
