@model DatabaseManager.WebUI.Models.FinanceListViewModel

@{
    ViewBag.Title = "Finance Records";
}

@section AddToHead
    {
    <link rel="stylesheet" href="@Url.Content("//cdn.datatables.net/1.10.2/css/jquery.dataTables.css")" />
    <script src="@Url.Content("//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js")"></script>
}

<script type="text/javascript">
    var oTable;
    $(document).ready(function () {
        oTable = $('#invoicelist').dataTable({
            "bFilter": true,
        });
    });
</script>

<div class="panel panel-default">
    <div class="panel-body">
        <select id="mySelect" class="form-control">
            @foreach (var x in Model.FinanceList.Select(m => m.Item1).Distinct())
            { 
                <option value="@x">@x</option>
            }
            <option value>All</option>
        </select>
        <script type="text/javascript">
            $('select#mySelect').on('change', function () {
                var selectedValue = $(this).val();
                oTable.fnFilter("^" + selectedValue + "$", 0, true); //Exact value, column, reg
            });

</script>
        <table class="table table-striped table-condensed" id="invoicelist">
            <thead>
                <tr>
                    <th>Database Nickname</th>
                    <th>Period Start</th>
                    <th>Period End</th>
                    <th>Monthly Rate</th>
                    <th>Total Space Usage</th>
                    <th>Paid</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var ob in Model.FinanceList)
                {
                    Html.RenderPartial("_Invoice", ob);
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer" style="margin-top: 3px;">
        @Html.ActionLink("Add Record", "Index", new { controller = "Finance" }, new { @class = "btn btn-default" })
    </div>
</div>

