<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />-->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
    @RenderSection("AddToHeadAnotherWay", required: false)

    <script type="text/javascript">
        window.setTimeout(function () {
            $("#alert-success").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 3000);
        $(document).ready(function () {
            $(".alert-danger").prepend("<button type='button' class='close' data-dismiss='alert'><span aria-hidden='true'>×</span><span class='sr-only'>Close</span></button>");
        });
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-default navbar-nomargin" style="border-radius: 0px !important;" role="navigation">
        @Html.ActionLink("Lawson Informatics Database Management", "List", "Database" ,null, new { @class = "navbar-brand" })
        <ul class="nav navbar-nav navbar-right" style="margin-right: 10px;">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Log Out", "Logout", "Account", null, null)</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="row panel">
        <div class="body-content">
            @if (TempData["message"] != null)
            {
                <div id="@TempData["alert-class"] @ViewBag.AlertClass" class="alert @TempData["alert-class"] @ViewBag.AlertClass">@TempData["message"]</div>
            }
            @RenderBody()
        </div>
    </div>
</body>
</html>
